<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product</title>
</head>

<body>
    <form action="/product" method="post" enctype="multipart/form-data">
        <input type="text" placeholder="Name" name="name">
        <input type="text" placeholder="color" name="color">
        <input type="text" placeholder="stock" name="stock">

        <input type="text" placeholder="gender" name="gender">
        <input type="text" placeholder="type" name="type">
        <input type="text" placeholder="size" name="size">
        <input type="text" placeholder="MRP" name="MRP">
        <input type="text" placeholder="Discount" name="Discount">
        <input type="text" placeholder="description" name="description">
        <input type="file" name="product">
        <button type="submit">Submit</button>
    </form>

</body>

</html>