<div class="topnav">
    <a class="active" href="/">Home</a>
    <a href="about">About</a>
    <a href="contact">Contact</a>
    <a href="login">login</a>
    <a href="singup">singup</a>
    <!-- search bar -->
    <div class="search-container">
        <form action="/">
            <input type="text" placeholder="Search.." name="search">
            <button type="submit"><i class="fa fa-search"></i>search</button>
        </form>
    </div>
</div>